{% extends "base.html" %}

{% block title %}Issue Book{% endblock %}
{% block content %}
<h1 class="mb-3">Issue Book</h1>
<div class="row">
  <div class="col-md-6 col-lg-5 mx-auto">
    <form method="POST" class="mt-2">
        <div class="mb-3">
            <label class="form-label">Student ID</label>
            <input type="number" name="student_id" class="form-control" placeholder="Student ID" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Book ID</label>
            <input type="number" name="book_id" class="form-control" placeholder="Book ID" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Issue Book</button>
    </form>
  </div>
 </div>
{% endblock %}
