{% extends "base.html" %}

{% block title %}Activate Account{% endblock %}
{% block content %}
<h1 class="mb-3">Activate Student Account</h1>
<div class="row">
  <div class="col-md-6 col-lg-5 mx-auto">
    <form method="POST" class="mt-2">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Registration Code</label>
            <input type="text" name="code" class="form-control" placeholder="Registration Code" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Set Password</label>
            <input type="password" name="password" class="form-control" placeholder="Set Password" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Activate</button>
    </form>
  </div>
 </div>
{% endblock %}
