{% extends "base.html" %}

{% block title %}Student Login{% endblock %}
{% block content %}
<h1 class="mb-3">Student Login</h1>
<div class="row">
  <div class="col-md-6 col-lg-5 mx-auto">
    <form method="POST" class="mt-2">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
 </div>
{% endblock %}
